@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.background-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 425px) {
  .letterboard {
    height: 80%;
    overflow: hidden;
    position: relative;
  }
}

.letterboard {
  height: 100%;
  z-index: -1;
}

.letterboard-line {
  border-right: 0.125rem solid gray;
  border-top: 0.125rem solid gray;
  border-bottom: 0.125rem solid gray;
  width: 10%;
  border-radius: 0.1875rem;
  margin-top: 0.1875rem;
  margin-bottom: 3px;
  margin-right: 0.25rem;
}

.text-container-jan {
  position: absolute;
  top: 0vh;
  left: 7vw;
}

.january {
  font-family: 'Barriecito', cursive;
  color: darkred;
  font-size: 12vw;
  letter-spacing: 7vw;
  text-shadow: 0px 2px 0px black, 0px 3px 0px black, 0px 4px 0px black, 0px 5px 0px black, 0px 6px 0px black, 0px 7px 0px black, 0px 8px 7px;
}

.text-container-riv {
  position: absolute;
  top: 35vh;
  left: 36vw;
}

.river {
  font-family: 'Share Tech Mono', monospace;
  color: cornflowerblue;
  font-size: 10vw;
  text-align: center;
  text-shadow: 0px 2px 0px black, 0px 3px 0px black, 0px 4px 0px black, 0px 5px 0px black, 0px 6px 0px black, 0px 7px 0px black, 0px 8px 7px;
}

.text-container-prod {
  position: absolute;
  top: 65vh;
  left: 7vw;
}

.productions {
  font-family: 'Share Tech Mono', monospace;
  color: darkgreen;
  font-size: 8vw;
  letter-spacing: 4vw;
  text-shadow: 0px 2px 0px black, 0px 3px 0px black, 0px 4px 0px black, 0px 5px 0px black, 0px 6px 0px black, 0px 7px 0px black, 0px 8px 7px;
}

.text-container-em {
  position: absolute;
  top: 90vh;
  left: 7vw;
}

.email {
  font-family: 'Share Tech Mono', monospace;
  color: brown;
  font-size: 3vw;
  text-shadow: 0px 2px 0px black;}

p {
  font-size: 2.1vw;
  font-family: 'Share Tech Mono', monospace;
  color: chocolate;
  font-weight: bolder;
}

.film-prod-card {
  position: absolute;
  top: 36vh;
  left: 8vw;
}

.details-card {
  position: absolute;
  top: 36vh;
  left: 71vw;
}